body {
    font-family: 'Playfair Display', serif;
    background-color: pink;
}
.header_div {
    background-color: white;
    color: tomato;
    font-weight: bold;
}
.header_div img {
    width: 100px;
}
.main_div {
    background-color: pink;
    padding: 10px;
    margin-top: 15px;
    border: 3px whitesmoke solid;
    box-shadow: 10px 10px 10px rgb(247, 129, 108);
}
#camera, #result {
    width: 310px;
    height: 300px;
    border: 2px white solid;
    box-shadow: 4px 5px 10px lightyellow;
}
.main_div label {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 18px;
}
.main_div button {
    margin-top: 15px;
    padding: 5px;
    font-size: 15px;
    box-shadow: -2px -4px 10px rgba(232, 245, 49, 0.479);
}
.main_div button:hover {
    background-color: rgba(232, 245, 49, 0.479);
}
.footer_div {
    margin-bottom: 50px;
}
.footer_div img {
    width: 70px;
}
.footer_div h4 {
    background-color: aliceblue;
    border-radius: 3px;
    box-shadow: 5px -4px 10px pink;
}
.name_footer_div {
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 255, 128, 0.233);
    line-height: 3;
    width: 100%;
    text-align: center;
}
